@font-face {
    font-family: 'Acumin Pro';
    src: url('public/fonts/AcumenPro/fontsfree-net-acumin-pro-extralight-webfont.woff2') format('woff2'),
         url('public/fonts/AcumenPro/fontsfree-net-acumin-pro-extralight-webfont.woff') format('woff'),
         url("public/fonts/AcumenPro/FontsFree-Net-Acumin-Pro-ExtraLight.ttf  ");
    font-weight: thin;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Acumin Pro';
  src:   url('public/fonts/AcumenPro/acumin-bditpro-webfont.woff2') format('woff2'),
         url('public/fonts/AcumenPro/acumin-bditpro-webfont.woff') format('woff'),
         url('public/fonts/AcumenPro/acumin-bditpro-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Acumin Pro';
  src: url('public/fonts/AcumenPro/acumin-bdpro-webfont.woff2') format('woff2'),
       url('public/fonts/AcumenPro/acumin-bdpro-webfont.woff') format('woff'),
       url("public/fonts/AcumenPro/acumin-bdpro-webfont.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Acumin Pro';
  src: url('public/fonts/AcumenPro/acumin-itpro-webfont.ttf') format('woff2'),
       url('public/fonts/AcumenPro/acumin-itpro-webfont.woff') format('woff'),
       url("public/fonts/AcumenPro/acumin-itpro-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;

}
@font-face {
  font-family: 'Acumin Pro';
  src: url('public/fonts/AcumenPro/acumin-rpro-webfont.woff2') format('woff2'),
       url('public/fonts/AcumenPro/acumin-rpro-webfont.woff') format('woff'),
       url("public/fonts/AcumenPro/acumin-rpro-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;

}
@font-face {
  font-family: 'Rounded Elegance';
  src: url('public/fonts/rounded_elegance/rounded_elegance-webfont.woff2') format('woff2'),
       url('public/fonts/rounded_elegance-webfont.woff') format('woff'),
       url('public/fonts/Rounded_Elegance.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
} 

@font-face {
font-family: 'Molde Compressed medium';
src: url('public/fonts/molde/molde-compressed-medium-webfont.woff2') format('woff2'),
     url('public/fonts/molde/molde-compressed-medium-webfont.woff') format('woff'),
     url('public/fonts/molde/Molde-Compressed-Medium.ttf') format('ttf');
font-weight: bold;
font-style: normal;
}
@font-face {
font-family: 'Molde Compressed';
src: url('public/fonts/molde/molde-compressed-thin-webfont.woff2') format('woff2'),
     url('public/fonts/molde/molde-compressed-thin-webfont.woff') format('woff'),
     url('public/fonts/molde/Molde-Compressed-Thin.ttf') format('ttf');
font-weight: thin;
font-style: normal;
}
body{
    /* margin: 35px 45px!important; */
    --Title-Font: "Molde Compressed";
    --Logo-Font: 'Rounded Elegance';
    --Body-Font: 'Acumin Pro';
    --Primary-Color: white;
    --Seconday-Color: #6D6E70;
    --Accent-Color: #ED1C24;
    font-family: var(--Body-Font);
    background-color: white;
}
.border-primary{
  border-color: var(--Accent-Color) !important;
}
.text-black{
  color:black !important;
}
.bg-black{
  background: black;
}
.background-accent{
  background-color: var(--Accent-Color);
}
.btn-outline-primary{
  color: white;
    background-color:var(--Accent-Color);;
    border-color: var(--Accent-Color); 

}
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
  color: var(--Accent-Color);
  background-color: white;
  border-color: var(--Accent-Color); /*set the color you want here*/
}
/* Internal Pages Navbar */
body #Header .navbar-brand{
    font-family: var(--Logo-Font);
}
body #Header .navbar-brand img{
    width: 25px;
    margin-top: 2px;
    margin-left: 2%;
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
  }


.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--Accent-Color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.btn-primary {
  color: var(--Accent-Color);
  background-color: white;
  border-color: var(--Accent-Color); /*set the color you want here*/
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: white;
  background-color: var(--Accent-Color);
  border-color: var(--Accent-Color); /*set the color you want here*/
}
#small-navbar{
  font-family: var(--Title-Font);
  font-size:xx-large;
  font-weight: 900;
  letter-spacing: 2px;
}
#small-navbar{
  font-family: var(--Title-Font);
  font-size:xx-large;
  font-weight: 900;
  letter-spacing: 2px;
}
#small-navbar .nav-link:active{
  color: var(--Accent-Color);
  background-color: white;
  border-color: var(--Accent-Color); /*set the color you want here*/
}
Header{
  height: 400px;
}
Header img{
    width: 20%;
}

.title-font{
  font-family: var(--Title-Font)!important;
  font-size:70px;
  letter-spacing: 5px;

}

#equipment-hero-text-refomer .title-font{
  font-size: 70px!important;
  font-weight: 700;
}



.slide:hover,
.slide:focus {
  box-shadow: inset 7em 0 0 0 var(--Accent-Color);
  color: white!important;
}

#equipment-hero-text{
  background: linear-gradient(90deg, rgba(248, 249, 250, 1) 53%, rgba(255, 255, 255, 0) 95%),url("./assets/images/equipment/woman-is-stretching-on-a-reformer-in-pilates-studio--1002753658-415eadc743bd49f1b23b8cf13766502c.jpg") 100%;
  background-size: contain  ;
  background-repeat: no-repeat;
  justify-content: flex-end;
}
#equipment-hero-text .title-font{
  font-weight: 900;
  font-size: 70px;
}

#Equipments-subtitles .title-font{

    font-weight: 900;
    letter-spacing: 1px;
    font-size: 51px;
    text-transform: uppercase;

}
.text-accent{
  color:#ED1C24 !important;
}
.letter-spacing-normal{
  letter-spacing: normal !important;
}
.font-h1{
  font-size: 51px !important;
}
#Benefits .title-font{
  font-size: 51px!important;
  font-weight: 700;
}
#equipment-hero-text-refomer{
  /* font-family: var(--Title-Font)!important; */
  font-weight: 900;
  background: linear-gradient(90deg, rgba(248, 249, 250, 1) 53%, rgba(255, 255, 255, 0) 95%);
  background-size: contain  ;
  background-repeat: no-repeat;
  justify-content: flex-end;
}
.img-wrap::before {
  background-image: -webkit-linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

}
.footer {
  background-color: rgb(45, 45, 45);
  color: white!important;
  
  /* width: 100%; */
}
/* .background{
        background-color: rgba(var(--Seconday-Color),1);
} */
#footer .dots{
  margin-left: 13px;
  height: 8px;
  width: 33.3px;
}


#footer .container{
  padding-top: 70px;
}

.footer-navbar a{
  text-transform: capitalize;
  text-decoration: none!important;
  color: white!important;
  font-weight: 900;
}
#footer-navbar-id .navbar{
  top:-265.178571%;
  left: 30%;
}
.footer-navbar-para {

  color: rgb(255, 255, 255);
  text-align: center;
}
.footer-logo{
  justify-content: center;
}
#footer-cta-id {
    justify-content: center;
    display: flex;
    align-content: center;
    flex-direction: column;
    padding: 2rem;
    margin-top: 2rem;
    align-items: center;
    margin-bottom: 2rem;
}
#footer-cta-id input{
  width: 100%;
  height: 50px;
  background: #999;
  color: white;
  border: none;
  padding-left: 15px;
  border-radius: 30px;
}
#footer-cta-id button{
  border-radius: 50%;
  border: none;
}
#footer-cta-id .socials{
  border-radius: 50%;
  flex-direction: row;
  width: 50px;
  margin: 10px 2px;
}
#footer-cta-id .facebook{
  margin-top: 1.2rem;
  margin-top: 1.2rem;
  margin-right: 2rem;
}

#footer-cta-id .instagram{
  margin:1.2rem 0;

}


#footer h5{
  color: white !important;
}
#footer-links .navbar li{
  font-weight: 900;
}
.footer-end{
  width: 100%;
  padding: 1rem 0;
}
img.footer-cta{
  height: 20px;
}
@media (min-width: 992px){ 
.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
}

}

